body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Light blue background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 70px; /* Adjust this value if the header height changes */
    flex-direction: column;
}

.login-container {
    background-color: #fff;
    padding: 30px 40px; /* Set equal padding for left and right sides */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 25px;
    font-size: 28px;
    color: #00796b; /* Darker shade of blue-green */
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="submit"] {
    width: calc(100% - 30px); /* Ensure the same width for all input elements */
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-container input[type="submit"] {
    background-color: #00796b; /* Darker shade of blue-green */
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: #004d40; /* Even darker shade of blue-green */
}

.login-container p {
    margin-top: 20px;
    font-size: 14px;
    color: #00796b; /* Darker shade of blue-green */
}

.login-container p a {
    color: #00796b; /* Darker shade of blue-green */
    text-decoration: none;
}

.login-container p a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00796b; /* Darker shade of blue-green */
    padding: 20px 30px; /* Increase padding to make the header thicker */
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    font-family: 'Copperplate', 'Papyrus', fantasy; /* Change font to Copperplate, Papyrus, fantasy */
    font-size: 32px; /* Increase font size */
}

header .toggle-button,
header .account-symbol {
    font-size: 32px; /* Increase font size */
    cursor: pointer;
}

header .webapp-name {
    font-family: 'Copperplate', 'Papyrus', fantasy; /* Change font to Copperplate, Papyrus, fantasy */
    font-size: 50px; /* Increase font size */
    text-align: center;
    flex-grow: 1;
}

.login-banner {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 70px; /* Adjust this value if the header height changes */
    border: 1px solid red; /* Add a border for visibility during debugging */
}
